NEXT_PUBLIC_NEON_AUTH_URL=https://ep-summer-cake-arp4ldto.neonauth.c-4.us-west-2.aws.neon.tech/neondb/auth
NEXT_PUBLIC_NEON_DATA_API_URL=https://ep-summer-cake-arp4ldto.apirest.c-4.us-west-2.aws.neon.tech/neondb/rest/v1
